@model ApplicationRole

<div class="form-group">
    <label asp-for="@Model.Name" class="col-form-label"></label>
    <input asp-for="@Model.Name" class="form-control" readonly />
    <label asp-for ="@Model.CreatedAt" class="col-form-label"></label>
    <input asp-for="@Model.CreatedAt" class="form-control" readonly />
</div>
<br />